* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
/* style for the header */
.header {
  display: grid;
  grid-auto-flow: column;
  background-color:var(--white-violet);
}
.header-logo {
  color: blueviolet;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 7.5px;
}
.header-nav ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  padding: 15px 0px;
}
.header-nav-li{
  text-decoration: none;
  color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}
.header-nav-li:hover{
  text-decoration: underline;
  color: rgb(214, 184, 241);
}
:root{
  --white-violet:rgb(240, 234, 245) ;
  --violet: violet
}
/* style for the product page */
.product-item{
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 2rem;
  height: 100%;
  padding: 1rem;
  place-items: center;
  background-color: var(--white-violet);
}
.products-ul{
display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 3rem;
  margin-top: 20px;
 list-style: none;
}
/* style for product detail */
.product-detail{
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin-top: 70px;
}
.product-detail > img {
  align-self: center;
}

.product-detail-info{
  display: grid;
  grid-auto-flow: row;
  padding-left: 1rem;
  border-left: 2px solid violet;
}
.product-detail-info p {
  max-width: 50%;
  max-height: 150ch;
  margin-top: 1rem;;
  text-overflow: ellipsis;
}
.product-detail-info button {
  padding: 0.5rem;
  border: 2px solid var(--violet);
  justify-self: end;
  margin-right: 5rem;
  background-color: white;
  color: var(--violet);
}

.product-detail-info button:hover {
  background-color: var(--white-violet);
}