* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* style for the header */
.header {
  display: grid;
  grid-auto-flow: column;
  background-color:var(--white-violet);
}
.header-logo {
  color: blueviolet;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 7.5px;
}
.header-nav ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  padding: 15px 0px;
}
.header-nav-li{
  text-decoration: none;
  color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}
.header-nav-li:hover{
  text-decoration: underline;
  color: rgb(214, 184, 241);
}
:root{
  --white-violet:rgb(240, 234, 245) ;
  --violet: violet
}
/* style for the product page */
.product-item{
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 2rem;
  height: 100%;
  padding: 1rem;
  place-items: center;
  background-color: var(--white-violet);
}
.product-item h4{
  color: rgb(37, 37, 37);
}
.products-ul{
display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 3rem;
  margin-top: 20px;
 list-style: none;
}
/* style for product detail */
.product-detail{
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin-top: 70px;
}
.product-detail > img {
  align-self: center;
}

.product-detail-info{
  display: grid;
  grid-auto-flow: row;
  padding-left: 1rem;
  border-left: 2px solid violet;
}
.product-detail-info p {
  max-width: 50%;
  max-height: 150ch;
  margin-top: 1rem;;
  text-overflow: ellipsis;
}
.product-detail-info button {
  padding: 0.5rem;
  border: 2px solid var(--violet);
  justify-self: end;
  margin-right: 5rem;
  background-color: white;
  color: var(--violet);
}

.product-detail-info button:hover {
  background-color: var(--white-violet);
}
/* style for categories */

.categories--list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  grid-gap: 2.4rem;
  place-content: center;
  margin: 50px;
}
.categories--list li{
  display: grid;
  height: 150px;
  border: 2px solid var(--violet);
  background-color: var(--white-violet);
  place-items: center;
  font-size: 2.5rem;
}
/* STYLE FOR THE BASKET */
.basket_item{
  display: grid;
  grid-auto-flow: column;
  background-color: var(--white-violet);
  align-items: center;
  border: 1px solid var(--violet);
  width: 80%;
 margin-left: 150px;
}
  .basket > h2 {
    margin: 2rem 0;
    font-size: 2.5rem;
   margin-left: 400px;
  }
  .basket > ul {
    border-radius: 5px;
    height: 60vh;
    padding: 2rem;
    overflow-y: auto;
    scrollbar-width: thin;
  }
  .basket h3{
    display: grid;
    place-content: end;
   margin-right: 100px;
  }
